

/* ==================================================
  Regions
  ================================================== */
.navbar-bootbites{
  background-color: #6f5499;
  margin-bottom: 0;
}
.navbar-bootbites .navbar-brand,
.navbar-bootbites .navbar-nav > li > a {
  color: #e3e3e3;
}

.jumbotron-bootbites {
  background-color: #EBE1F9;
}

.content {
  
}

.footer {
  border-top: 5px solid #eee;
  padding: 3em 0;
  margin-top: 3em;
  text-align: center;
}

/* ==================================================
  Styling
  ================================================== */
.btn-bootbites {
  background: #6f5499;
  border: none;
  border-radius: 0;
}
.btn-bootbites:hover,
.btn-bootbites:focus,
.btn-bootbites:active,
.btn-bootbites.active {
  background: #523e71;
}

/* ==================================================
  Common
  ================================================== */
.intro {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 5px solid #eee;
}
.demos .demo {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #eee;
}
.demos .demo:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
